DATABASE_URL="postgres://b214607a0e84fe19b22f301c5e5552da2fb23c57b7b224d5830f3ddba47fd272:sk_SFjJKfHuFhG0RfN2IDF4b@db.prisma.io:5432/postgres?sslmode=require"
JWT_SECRET="change-this-to-a-long-random-secret"
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="123456"

# Runtime also supports Vercel Postgres fallback variables:
# POSTGRES_PRISMA_DATABASE_URL="postgresql://..."
# POSTGRES_URL="postgresql://..."
